@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body{
    height: 100vh;
}

.bannerInicial{
    height: 90vh;
    background-image: url('../assets/images/Fondo.png');
    background-position: center;   
    background-size: cover;
    display: grid;
    grid-template-rows: 17% 83%;
}

.bannerInicial .banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(80, 94, 102, 0.9);
}

.banner .logo{
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;
    font-size: 1.3em;
    font-family: 'Noto Sans', sans-serif;
}

.banner .logo .letraAzul{
    color: #1E90FF;
}

.banner .accesosPaginas {
    display: flex;
    justify-content: flex-end;
    padding: 0 300px 0 0;
}

.banner .accesosPaginas ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.banner .accesosPaginas ul li{
    padding: 0 1px;
}

.banner .accesosPaginas a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-family: 'Noto Sans', sans-serif;
    padding: 5px 10px;
    border: 2px solid transparent;
}

.banner .accesosPaginas a:hover {
    color: white;
}

.banner .accesosPaginas a.active {
    border: 2px solid #1E90FF;
    color: #1E90FF;
    text-align: center;
}

.textoInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    padding: 20px;
}

.textoInicio p{
    background-color: rgba(80, 94, 102, 0.9);
    padding: 20px 30px;
}

.menuInfo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #4AC8FC;
    padding: 120px 300px 50px 300px;
    gap: 20px;
}

.menuInfo img{
    width: 30px;
}

.menuInfo .textoInfo{
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    padding: 0 20px 0 0;
}

.menuInfo .textoInfo .titulo{
    font-size: 16px;
}

.menuPortafolio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 120px auto;
    padding: 0 300px 60px 300px;
}

.menuPortafolio .tituloPortafolio{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.menuPortafolio .accesoPaginasPortafolio {
    display: flex;
    justify-content: flex-end;
}

.menuPortafolio .accesoPaginasPortafolio ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menuPortafolio .accesoPaginasPortafolio ul li{
    padding: 0 10px;
}

.menuPortafolio .accesoPaginasPortafolio a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-family: 'Noto Sans', sans-serif;
    padding: 5px 10px;
    border: 2px solid transparent;
}

.menuPortafolio .accesoPaginasPortafolio a.active {
    border: 2px solid #1E90FF;
    color: #1E90FF;
    text-align: center;
}

.menuPortafolio .divFotos{
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.menuPortafolio .divFotos .img {
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.menuPortafolio .divFotos .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.seccionVideo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 290px;
    background-color: #515F67;
}

.seccionVideo .textoSeccion{
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    padding: 0 70px 0 0;
    line-height: 1.9;
}

.seccionVideo .textoSeccion .titulo{
    font-size: 20px;
}

.seccionVideo .textoSeccion button{
    border: 2px solid #353F46;
    color: #353F46;
    text-align: center;
    background-color: transparent;
    padding: 7px 20px;
    font-size: 10px;
    margin-top: 15px;
}

.seccionVideo .videoSeccion{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.seccionVideo .videoSeccion img{
    width: 420px;
}

.seccionTwitter{
    display: grid;
    grid-template-columns: 90% 7%;
    padding: 30px 290px;
    background-color: #4BCAFF;
}

.seccionTwitter .texto-twitter{
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    padding: 0 70px 0 0;
    line-height: 1.9;
}

.seccionTwitter .texto-twitter .titulo{
    font-size: 20px;
    line-height: 3;
}

.seccionTwitter .logo-twitter{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 40px;
}

.seccionTwitter .logo-twitter img{
    width: 20px;
}

.seccion-john{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 290px;
    background-image: url('../assets/images/bg_whoIs.png');
    background-position: center;
    background-size: cover;
    color: white;
}

.primer-texto{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 70px 0 0;
    font-size: 13px;
    line-height: 1.7;
}

.primer-texto .titulo{
    font-size: 20px;
    line-height: 3;
}

.segundo-texto{
    align-items: center;
    justify-content: flex-start;
    padding: 70px 0 0 0;
    font-size: 13px;
    line-height: 1.7;
}

.segundo-texto .iconos-redes{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.segundo-texto .iconos-redes img{
    width: 50px;
}

.seccion-testimonios{
    display: grid;
    grid-template-columns: 90% 7%;
    padding: 30px 290px;
    background-color: #ffffff;
}

.seccion-testimonios .texto-testimonios{
    color: #353F46;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    padding: 0 70px 0 0;
    line-height: 1.9;
}

.seccion-testimonios .texto-testimonios .titulo{
    font-size: 20px;
    line-height: 3;
}

.seccion-testimonios .texto-testimonios .autor{
    font-size: 14px;
    line-height: 1.7;
    color: #4BCAFF;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 20px;
    display: block;
}

.seccion-testimonios .logo-twitter{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 40px;
}

.seccion-testimonios .logo-twitter img{
    width: 20px;
}

.seccion-formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 290px;
    background-image: url(../assets/images/bg_contact.png);
    background-position: center;
    background-size: cover;
    gap: 10px;
}

.seccion-formulario .contact{
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.seccion-formulario .formulario1{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 70px 0 0;
    font-size: 12px;
}

.seccion-formulario .formulario1 input{
    padding: 5px;
    margin-bottom: 20px;
    border: 2px solid white;
    background-color: transparent;
    height: 30px;
    color: white;
    width: 100%;
}

.seccion-formulario .textoFormulario{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 20px;
    font-size: 12px;
    line-height: 1.7;
}

.seccion-formulario .formulario2{
    color: white;
    padding: 10px 0 0 0;
    font-size: 12px;
    grid-column: 1 / 3;
}

.seccion-formulario .formulario2 textarea{
    padding: 5px;
    margin-bottom: 20px;
    border: 2px solid white;
    background-color: transparent;
    width: 95%;
    color: white;
}

.seccion-formulario .formulario2 button{
    border: 2px solid #4BCAFF;
    color: #ffffff;
    text-align: center;
    background-color: #4BCAFF;
    padding: 7px 20px;
    font-size: 15px;
    width: 30%;
    height: 50px;
    cursor: pointer;
}

.footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 290px;
    background-color: #353F47;
    color: #4B5961;
    font-size: 10px;
}

.footer .enlaces{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.footer .enlaces a{
    text-decoration: none;
    color: #4B5961;
    font-size: 10px;
    border: 2px solid transparent;
}

.footer .coppy{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 1279px) {
    .menuInfo,
    .menuPortafolio,
    .seccionVideo,
    .seccionTwitter,
    .seccion-john,
    .seccion-testimonios,
    .seccion-formulario,
    .footer {
        padding-left: 150px;
        padding-right: 150px;
    }
    .banner .accesosPaginas {
        padding-right: 100px;
    }
    .seccionVideo .videoSeccion img {
        width: 100%;
    }
}

@media screen and (max-width: 920px) {
    .menuInfo,
    .menuPortafolio,
    .seccionVideo,
    .seccionTwitter,
    .seccion-john,
    .seccion-testimonios,
    .seccion-formulario,
    .footer {
        padding-left: 60px;
        padding-right: 60px;
    }
    .menuPortafolio .divFotos {
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }
    .menuInfo {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 60px;
        gap: 30px;
    }
    .seccionVideo .videoSeccion img {
        width: 100%;
    }
    .seccion-formulario .formulario2 button {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .bannerInicial {
        grid-template-rows: auto 1fr;
    }
    .bannerInicial .banner {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        text-align: center;
        padding: 15px 0;
    }
    .banner .logo {
        justify-content: center;
        padding: 10px 0;
    }
    .banner .accesosPaginas {
        justify-content: center;
        padding: 0;
    }
    .textoInicio {
        font-size: 1.4em;
    }
    .menuInfo {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 30px;
        gap: 30px;
    }
    .menuPortafolio {
        grid-template-columns: 1fr;
        padding: 30px;
    }
    .menuPortafolio .tituloPortafolio {
        justify-content: center;
    }
    .menuPortafolio .accesoPaginasPortafolio {
        justify-content: center;
    }
    .menuPortafolio .divFotos {
        grid-column: 1 / 2;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }
    .seccionVideo {
        grid-template-columns: 1fr;
        padding: 40px 30px;
    }
    .seccionVideo .textoSeccion {
        padding: 0 0 30px 0;
    }
    .seccionVideo .videoSeccion {
        justify-content: center;
    }
    .seccionVideo .videoSeccion img {
        width: 100%;
    }
    .seccionTwitter {
        grid-template-columns: 1fr;
        padding: 30px;
    }
    .seccionTwitter .texto-twitter {
        padding: 0;
    }
    .seccionTwitter .logo-twitter {
        justify-content: flex-start;
        padding-top: 15px;
    }
    .seccion-john {
        grid-template-columns: 1fr;
        padding: 40px 30px;
    }
    .primer-texto {
        padding: 0 0 30px 0;
    }
    .segundo-texto {
        padding-top: 0;
    }
    .seccion-testimonios {
        grid-template-columns: 1fr;
        padding: 30px;
    }
    .seccion-testimonios .texto-testimonios {
        padding: 0;
    }
    .seccion-testimonios .logo-twitter {
        justify-content: flex-start;
        padding-top: 15px;
    }
    .seccion-formulario {
        grid-template-columns: 1fr;
        padding: 40px 30px;
    }
    .seccion-formulario .contact {
        grid-column: 1 / 2;
    }
    .seccion-formulario .formulario1 {
        padding-right: 0;
    }
    .seccion-formulario .formulario2 {
        grid-column: 1 / 2;
    }
    .seccion-formulario .formulario2 textarea {
        width: 100%;
    }
    .seccion-formulario .formulario2 button {
        width: 50%;
    }
    .footer {
        grid-template-columns: 1fr;
        padding: 20px 30px;
        gap: 10px;
    }
    .footer .coppy {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 480px) {
    .bannerInicial {
        grid-template-rows: auto 1fr;
        height: auto;
        min-height: 100vh;
    }
    .banner .accesosPaginas ul {
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px 0;
    }
    .banner .accesosPaginas ul li {
        padding: 3px 2px;
    }
    .textoInicio {
        font-size: 1em;
        padding: 20px 15px;
    }
    .menuInfo {
        grid-template-columns: 1fr;
        padding: 30px 20px;
        gap: 25px;
    }
    .divCoffee, .divInstant, .divSerious, .divFrame {
        display: flex;
        align-items: flex-start;
        gap: 15px;
    }
    .menuInfo img {
        flex-shrink: 0;
    }
    .menuPortafolio {
        padding: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        width: 100%;
        overflow: hidden;
    }
    .menuPortafolio .tituloPortafolio {
        grid-column: 1 / 2;
    }
    .menuPortafolio .accesoPaginasPortafolio {
        grid-column: 1 / 2;
        justify-content: center;
    }
    .menuPortafolio .accesoPaginasPortafolio ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4px;
    }
    .menuPortafolio .divFotos {
        grid-column: 1 / 2;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        width: 100%;
    }
    .seccionVideo {
        padding: 30px 20px;
    }
    .seccionTwitter {
        padding: 20px;
    }
    .seccionTwitter .texto-twitter {
        font-size: 14px;
    }
    .seccion-john {
        padding: 30px 20px;
    }
    .seccion-testimonios {
        padding: 20px;
    }
    .seccion-testimonios .texto-testimonios {
        font-size: 14px;
    }
    .seccion-formulario {
        padding: 30px 20px;
    }
    .seccion-formulario .formulario2 button {
        width: 100%;
    }
    .seccion-formulario .formulario1 input {
        width: 100%;
    }
    .footer {
        padding: 20px;
    }
    .footer .enlaces {
        flex-wrap: wrap;
        gap: 3px;
    }
}